In [1]:
# Importing Dependencies
import pandas as pd
from sqlalchemy import create_engine

# Extract - Store CSV into DataFrame

In [3]:
# Creating csv path and loading first data in Pandas DataFrame
csv_path = ("Resources/World-population-by-countries-dataset.csv")
wrld_pop_df = pd.read_csv(csv_path)
wrld_pop_df.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,107195.0
1,Africa Eastern and Southern,AFE,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,...,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,694665117.0
2,Afghanistan,AFG,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,10399936.0,...,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,39835428.0
3,Africa Western and Central,AFW,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,109701811.0,112195950.0,...,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0,470898870.0
4,Angola,AGO,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,5781305.0,5774440.0,...,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0,33933611.0

In [8]:
# Creating csv path and loading first data in Pandas DataFrame
csv_path = ("Resources/unemployment analysis.csv")
unemp_rate_df = pd.read_csv(csv_path)
unemp_rate_df.head()

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,...,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,...,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,...,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82

# Data Cleaning and Transformation

In [7]:
# Creating a filtered dataframe from specific columns

wrld_pop_cols = ['Country Name', '2011', '2012', '2013', '2014', '2015', 
                 '2016', '2017', '2018', '2019', '2020', '2021']

wrld_pop_transformed = wrld_pop_df[wrld_pop_cols].copy()

# Clean the data by dropping duplicates and setting the index
wrld_pop_transformed.drop_duplicates()

# Setting the Country Name column as index
wrld_pop_transformed.set_index("Country Name", inplace=True)

wrld_pop_transformed.head()

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Name,,,,,,,,,,,
Aruba,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,107195.0
Africa Eastern and Southern,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,694665117.0
Afghanistan,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,39835428.0
Africa Western and Central,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0,470898870.0
Angola,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0,33933611.0

In [9]:
# Creating a filtered dataframe from specific columns

unemp_rate_cols = ['Country Name', '2011', '2012', '2013', '2014', '2015', 
                 '2016', '2017', '2018', '2019', '2020', '2021']

unemp_rate_transformed = unemp_rate_df[unemp_rate_cols].copy()

# Clean the data by dropping duplicates and setting the index
unemp_rate_transformed.drop_duplicates()

# Setting the Country Name column as index
unemp_rate_transformed.set_index("Country Name", inplace=True)

unemp_rate_transformed.head()

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Name,,,,,,,,,,,
Africa Eastern and Southern,6.75,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
Afghanistan,11.05,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
Africa Western and Central,4.55,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
Angola,7.36,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
Albania,13.48,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82

# Connecting to local database

In [ ]:
# Connecting to local database

protocol = 'postgresql'
username = '<postgres>'
password = '<akinbola1984>'
host = 'localhost'
port = 5432
database_name = 'world_population_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
#engine = create_engine(rds_connection_string)
engine = create_engine('postgresql+psycopg2://postgres:akinbola1984@localhost/tuberculosis_db')